/|:chapter:|:chapter:
/doc/abbrev_defs.inc
/doc/abbrevs.inc
/doc/_build/
/doc/glossary.inc
/doc/index.rst.auto
/doc/index.rst.generated
/doc/module.rst_template
/doc/overview.rst.auto
/.newer
*.pyc
__pycache__/
/README.html
/README.pdf
/.sync.defs
/.sync.rc
/sync.sh
/.sync.stop
/.hgignore
